<script src="{{ url_for('static', filename='gemini-protector-static/js/vendor-all.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='gemini-protector-static/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='gemini-protector-static/js/pcoded.min.js') }}"></script>
<script src="{{ url_for('static', filename='gemini-protector-static/js/dark-mode.js') }}"></script>
<script src="{{ url_for('static', filename='gemini-protector-static/plugins/toastify/toastify-js.js') }}"></script>