<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{{url_for('nested_service.gemini_dashboard')}}" class="b-brand">
                <div class="b-bg">
                    <img class="img-square"
                        src="{{ url_for('static', filename='gemini-protector-static/images/gemini-7.png') }}"
                        alt="Generic placeholder image">
                </div>
                <span class="b-title">Gemini</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="Dashboard Page" class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                    <a href="{{url_for('nested_service.gemini_dashboard')}}" class="nav-link "><span
                            class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>

                <li data-username="Endpoint Page" class="nav-item {% if 'endpoint' in segment %} active {% endif %}">
                    <a href="{{ url_for('nested_service.gemini_endpoint') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-target"></i></span>
                        <span class="pcoded-mtext">Endpoint</span></a>
                </li>

                <li data-username="ACL Page"
                    class="nav-item {% if 'access-control-list' in segment %} active {% endif %}">
                    <a href="{{ url_for('nested_service.gemini_access_control_list') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-cloud-off"></i></span>
                        <span class="pcoded-mtext">Access Control List</span></a>
                </li>

                <li data-username="Dependency Page"
                    class="nav-item {% if 'dependency-vulnerability' in segment %} active {% endif %}">
                    <a href="{{ url_for('nested_service.gemini_dependency_audit') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-check-square"></i></span>
                        <span class="pcoded-mtext">Dependency Check</span></a>
                </li>

                <li data-username="Configurate Page"
                    class="nav-item {% if 'configurate' in segment %} active {% endif %}">
                    <a href="{{ url_for('nested_service.gemini_configurate') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                        <span class="pcoded-mtext">Configurate</span></a>
                </li>

                <li data-username="Configurate Page" class="nav-item {% if 'feedback' in segment %} active {% endif %}">
                    <a href="{{ url_for('nested_service.gemini_feedback') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-star"></i></span>
                        <span class="pcoded-mtext">Feedback</span></a>
                </li>

                <li data-username="Key Page" class="nav-item {% if 'update-key' in segment %} active {% endif %}">
                    <a href="{{ url_for('nested_service.gemini_update_key') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-heart"></i></span>
                        <span class="pcoded-mtext">Key</span></a>
                </li>

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('nested_service.gemini_logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span
                            class="pcoded-mtext">Logout</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>More Resources</label>
                </li>
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://github.com/noobpk/gemini-self-protector/issues" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-github"></i>
                        </span>
                        <span class="pcoded-mtext">Issue</span>
                    </a>
                </li>
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://github.com/noobpk" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->