<link rel="stylesheet" href="{{ url_for('static', filename='gemini-protector-static/css/install.css') }}">
{% extends "gemini-protector-gui/layouts/base-fullscreen.html" %}

{% block title %} Install {% endblock %}

{% block content %}
<div class="install-main-container">
    <div class="install-wrapper">

        <div class="install-content">
            <div class="install-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Gemini Install</h5>
                                    </div>
                                    <div class="content">
                                        <div class="form-wizard">
                                            <form id="install" method="POST"
                                                action="{{url_for('nested_service.gemini_install')}}">
                                                <div class="form-wizard-header">
                                                    <ul class="list-unstyled form-wizard-steps clearfix">
                                                        <li class="active"><span>1</span></li>
                                                        <li><span>2</span></li>
                                                        <li><span>3</span></li>
                                                        <!-- <li><span>4</span></li> -->
                                                    </ul>
                                                </div>
                                                <fieldset class="wizard-fieldset show">
                                                    <h5>Protect Mode</h5>
                                                    <div class="form-group">
                                                        <div class="wizard-form-radio">
                                                            <input name="radio-protect-mode" id="radio-monitor-mode" type="radio"
                                                                value="monitor" checked>
                                                            <label for="radio-monitor-mode">Monitor</label>
                                                        </div>
                                                        <div class="wizard-form-radio">
                                                            <input name="radio-protect-mode" id="radio-protection-mode" type="radio"
                                                                value="protection">
                                                            <label for="radio-protection-mode">Protection</label>
                                                        </div>
                                                        <div class="wizard-form-radio">
                                                            <input name="radio-protect-mode" id="radio-off-mode" type="radio"
                                                                value="off">
                                                            <label for="radio-off-mode">Off</label>
                                                        </div>
                                                    </div>
                                                    <h5>Using G-WVD serve</h5>
                                                    <div class="form-group">
                                                        <div class="wizard-form-radio">
                                                            <input name="radio-g-wvd" id="radio-g-wvd-yes" type="radio" value="yes" checked>
                                                            <label for="radio-g-wvd-yes">Yes</label>
                                                        </div>
                                                        <div class="wizard-form-radio">
                                                            <input name="radio-g-wvd" id="radio-g-wvd-no" type="radio" value="no">
                                                            <label for="radio-g-wvd-no">No</label>
                                                        </div>
                                                    </div>
                                                    <h5>Sensitive</h5>
                                                    <div class="form-group">
                                                        <input type="number" min="0" max="100"
                                                            class="form-control wizard-required" id="sensitive-value"
                                                            name="sensitive-value" value="{{_sensitive_value}}"
                                                            required>
                                                        <!-- <label for="fname" class="wizard-form-text-label">Value</label> -->
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <h5>G-WVD serve</h5>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control wizard-required"
                                                            id="g-wvd-serve-value" name="g-wvd-serve-value" required>
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <h5>G serve key</h5>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control wizard-required"
                                                            id="g-serve-key" name="g-serve-key"
                                                            required>
                                                        <a id="g-wvd-check-connection" href="#">Check Connection</a>
                                                        <div id="loading-spinner" style="display: none; float: right;">
                                                            <i class="fa fa-spinner fa-spin"></i>
                                                        </div>
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <a href="javascript:;"
                                                            class="form-wizard-next-btn float-right">Next</a>
                                                    </div>
                                                </fieldset>
                                                <fieldset class="wizard-fieldset">
                                                    <h5>Dashboard Path</h5>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control wizard-required"
                                                            id="dashboard-path" name="dashboard-path"
                                                            value="{{_app_path}}">
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <h5>Dashboard Password</h5>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control wizard-required"
                                                            id="dashboard-pwd" name="dashboard-pwd">
                                                        <label for="dashboard-pwd" class="wizard-form-text-label">Password</label>
                                                        <div class="wizard-form-error"></div>
                                                        <span class="wizard-password-eye"><i
                                                                class="far fa-eye"></i></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control wizard-required"
                                                            id="dashboard-cpwd" name="dashboard-cpwd">
                                                        <label for="dashboard-cpwd" class="wizard-form-text-label">Confirm
                                                            Password</label>
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <a href="javascript:;"
                                                            class="form-wizard-previous-btn float-left">Previous</a>
                                                        <a href="javascript:;"
                                                            class="form-wizard-next-btn float-right">Next</a>
                                                    </div>
                                                </fieldset>
                                                <fieldset class="wizard-fieldset">
                                                    <h5>Notification</h5>
                                                    <div class="form-group">
                                                        Channel
                                                        <div class="wizard-form-radio">
                                                            <input name="notification-channel" id="notification-channel-disable" type="radio"
                                                                value="disable" checked>
                                                            <label for="notification-channel-disable">Disable</label>
                                                        </div>
                                                        <div class="wizard-form-radio">
                                                            <input name="notification-channel" id="notification-channel-telegram" type="radio"
                                                                value="telegram">
                                                            <label for="notification-channel-telegram">Telegram</label>
                                                        </div>
                                                        <div class="wizard-form-radio">
                                                            <input name="notification-channel" id="notification-channel-slack" type="radio"
                                                                value="slack" disabled>
                                                            <label for="notification-channel-slack">Slack</label>
                                                        </div>
                                                        <div class="wizard-form-radio">
                                                            <input name="notification-channel" id="notification-channel-mattermost" type="radio"
                                                                value="mattermost" disabled>
                                                            <label for="notification-channel-mattermost">Mattermost</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="telegram-form-1">
                                                        <input type="text" class="form-control" id="notification-channel-telegram-token"
                                                            name="notification-channel-telegram-token">
                                                        <label for="notification-channel-telegram-token"
                                                            class="wizard-form-text-label">Telegram
                                                            Token*</label>
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <div class="form-group" id="telegram-form-2">
                                                        <input type="text" class="form-control" id="notification-channel-telegram-chat-id"
                                                            name="notification-channel-telegram-chat-id">
                                                        <label for="notification-channel-telegram-chat-id"
                                                            class="wizard-form-text-label">Telegram
                                                            Chat
                                                            ID*</label>
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <div class="form-group" id="webhook-form">
                                                        <input type="text" class="form-control" id="notification-channel-webhook"
                                                            name="notification-channel-webhook">
                                                        <label for="notification-channel-webhook"
                                                            class="wizard-form-text-label">Webhook</label>
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <!-- <div class="form-group clearfix">
                                                        <a href="javascript:;"
                                                            class="form-wizard-previous-btn float-left">Previous</a>
                                                        <a href="javascript:;"
                                                            class="form-wizard-next-btn float-right">Next</a>
                                                    </div> -->
                                                    <div class="form-group clearfix">
                                                        <a href="javascript:;"
                                                            class="form-wizard-previous-btn float-left">Previous</a>
                                                        <a href="javascript:;" class="form-wizard-submit float-right"
                                                            onclick="document.getElementById('install').submit();">Install</a>
                                                    </div>
                                                </fieldset>
                                                <!-- <fieldset class="wizard-fieldset">
                                                    <h5>License</h5>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control wizard-required"
                                                            id="license_key" name="license-key"
                                                            value="988907ce-9803-11ed-a8fc-0242ac120002">
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                </fieldset> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='gemini-protector-static/js/install.js') }}"></script>
{% endblock content %}